
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|PT+Sans|Raleway');

body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875em;
   
}
header section h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: black;

}
header {
     width: 100%;
    margin-top: 0px;
}
.parallax {
    background-image: url("../img/gory.jpg");
    width: 100%;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items:center;
    display: flex;
    opacity: 0.9;
    justify-content:center;
}
.parallax:hover {
        opacity: 1;
     }
.item1 {
     list-style-type: none;
     border: 1px solid #303030;
     border-color: #303030;
     text-decoration: none;
     top: 0;
     background-color: #606060;
     padding: 10px;
     font-size: 17px;
     overflow: auto;
     white-space: nowrap;
     color: #00A591;
}
.item1:hover {
    background-color: #00A591;
    text-decoration: none;
     color: white;
}
.text-paragraph{
    
    font-size: 1.3rem;
    padding-left: 80px;

}
#about-me{
    color:#00A591;
    font-size: 5rem;
}
.btn{
    font-size: 20px;
    border:  1px solid black;
}
.carousel-item{
    height : 600px;
}
.icon-bar {
  margin: -52px;
  margin-top: 10px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #555;
}
.facebook {
  background: #3B5998;
  color: white;
}
.skype {
  background: #55ACEE;
  color: white;
}

.github {
  background: #333;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}
.gmail{
  background: #bb0000;
  color: white;
}
.wrapper{
    display: grid;
    position: fixed;
    grid-template-columns: 192px 192px 192px  192px 192px;
    text-align:center;
    z-index: 1;
}
 a:hover{
  text-decoration: none;
}
.background-my-foto{
    background-color: #deeaee;
}
.background-education{
    background-color: #deeaee;
}

.wrapper1{
   display: block;
}
.wrapper2{
   display: grid;
   grid-template-columns:  240px 240px 240px 240px;
   align-content: center;
}
.wrapper3{
   display: grid;
    grid-template-columns: 320px 320px 320px ;
     
}
.wrapper5{
   display: grid;
   grid-template-columns: 240px 240px 240px 240px;
}

.skills{
     font-size: 2.0rem;
     text-align: left;
     padding-left: 80px;
     color: #00A591;
}
.skills1{
     font-size: 2.0rem;
     text-align: left;
     padding-left: 80px;
}
.skills2{
     font-size: 1.5rem;
     text-align: left;
     padding-left: 80px;
}
.item6{
     height: 200px; 
     width: 100%;
}
 .pull-right{
    color:white;
    background-color: #4169E1;
    margin-top: 10px;
}
.experiences{
    background-color: #f5f5f0;
}

.maxim-foto{
   
    padding-bottom:60px;
}
.my-foto{
    border: 3px solid #303030;
    border-radius: 50%;
    width: 350px;
}
 .maxim-info{
    margin-top: 80px;
    margin-right: 140px;
}
footer{
    text-align: center;
}
main{
    text-align: center;
}

.container-fluid {
    padding: 60px 50px;
}
.profile{
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-color: #2F4F4F;
    color: #00A591;
}
.abilities{
     font-size: 4rem;
     margin-top: 20px;
     margin-bottom: 20px;
     color: #00A591;
}
.abilities-quotes{
    font-size: 1.7rem;
     margin-bottom: 20px;
}
.text-center{
    color: #00A591;
}
#my-prj{
    color: #00A591;
    font-size: 4rem;
    margin-bottom: 40px;
    margin-top: 30px;
}
h2{
    font-size: 4rem;
}

footer:last-child{
    font-size: 2rem;
 
}

.col-sm-5{
   font-size: 1.7rem;

}
.parallax1 {
    background-image: url("../img/sea.jpg");
    min-height:150px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items:center;
    justify-content:center;
    display: flex;
    opacity: 1;
    color: white;
    font-size: 2rem;
    margin-left: 0px;
   
}
.jumbotron{
    margin:0;
}
.container .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
 }
 
.glyphicon-chevron-up{
      font-size: 25px;
      
 }
 
.glyphicon-chevron-up:hover{
      color: yellow;
 }

.fa-grav{
    color: #606060;
    font-size: 40px;
}
.fa-graduation-cap{
    color: #606060;
    font-size: 40px;
}

.fa-grav:hover {
    color: #00A591;
}
.fa-graduation-cap:hover {
    color: #00A591;
}
.logo1{
    width: 70px;
    height: 100%;
}
.logo2{
    width: 100px;
    height: 40px;
}
   
   .logo3{
    width: 100px;
    height: 60%;
}

.item2{
    font-size: 1.4rem;
}
.item5{
    font-size: 1.4rem;
    
}

 
.fa-star{
   color: #555;
}
.fa-star:hover{
   color:#00A591;
}


.checked{
   color:#00A591 ;
}
.checked:hover{
   color:  #2F4F4F;
}

.row{
    padding-left:0;
}
   
@media screen and (max-width: 600px){
   
    .wrapper{
    display: block;
    position:relative;
   ;
    }
    .wrapper1{
    display: block;
    position:relative;
    
    }
    .wrapper2{
    display: block;
    position:relative;
    
    }
    .wrapper3{
    display: block;
    position:relative;
}
.wrapper5{
    display: block;
    position:relative;
}
}

   