
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|PT+Sans|Raleway');


body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875em;
    line-height: 1.6em;
}

header section h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: black;

}


header {
     width: 100%;
    margin-top: 0px;
}

.parallax {

    background-image: url("../img/gory.jpg");
    width: 100%;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items:center;
    display: flex;
    opacity: 0.9;
    padding-left: 35%;
    text-align:center;
    
       

    }

    .parallax:hover {

        opacity: 1;
     }


.item1 {
     list-style-type: none;
     border: 1px solid #555;
     text-decoration: none;
     top: 0;
     background-color: #708090;
     padding: 16px;
     font-size: 20px;
     overflow: auto;
    white-space: nowrap;

}
.item1:hover {
    background-color: #2F4F4F;
}
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #555;
}

.facebook {
  background: #3B5998;
  color: white;
}

.skype {
  background: #55ACEE;
  color: white;
}

.github {
  background: #333;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.gmail{
  background: #bb0000;
  color: white;
}


div div a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

.wrapper{
    display: grid;
    position: fixed;
    grid-template-columns: 240px 240px 240px  240px;
    text-align:center;
    z-index: 1;
}
.wrapper1{
   display: grid;
    grid-template-columns: 300px 360px 300px ;
}
.wrapper2{
   display: grid;
    
}
.wrapper3{
   display: grid;
     grid-template-columns: 320px 320px 320px ;
     
}


.maxim-foto:hover {
    border: 1px solid #777;
    display: block;

}

main section div img{
    
}

.experiences{
    background-color: #f5f5f0;
}
.my-foto{
    
    border-radius: 50%;
    width: 350px;
}

footer{
    text-align: center;
}
main{
    text-align: center;
}

.container-fluid {
    padding: 60px 50px;
    
}

.profile{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4rem;
}
h2{
    font-size: 4rem;
}

footer:last-child{
    font-size: 2rem;
 
}

.col-sm-5{
   font-size: 1.7rem;
    
     
    
}

#my-prj{
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.parallax1 {

    background-image: url("../img/more.jpg");
    min-height:150px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items:center;
    display: flex;
    opacity: 1;
    padding-left: 35%;
    text-align:center;
    color: white;
     
    
}


