

@media screen and (max-width: 400px){
   
    .wrapper{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 100px 100px 100px ;
    }
    .wrapper1{
   display: grid;
   grid-template-columns: auto ;
    grid-template-rows: 100px 100px 100px ;
    
    }
    .wrapper3{
   display: grid;
     grid-template-columns: auto ;
     grid-template-rows: 300px 300px 300px ;
}
}
    
